LIMSReporterWeb/Connected Services/SampleManagerWebServices/limswebservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.thermo.com/informatics/xmlns/limswebservice" elementFormDefault="qualified" targetNamespace="http://www.thermo.com/informatics/xmlns/limswebservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Process">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAuthResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLogFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLogFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllLogFilesResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EraseAllLogFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EraseAllLogFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EraseAllLogFilesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleLogFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transaction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleLogFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSingleLogFileResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogSOAPMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logging" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogSOAPMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogSOAPMessagesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLogStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLogStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewLogStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>